/*
  Marken Lila: #a12781
  Marken Blau: #2c4190
*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
}

.logo-img {
  max-width: 100%;
}

.verlag-text {
  margin-top: 20px;
}

h1, h2, h3, h4 {
  color: #2c4190;
}

a {
  color: #2c4190;
}
a:hover {
  color: #a12781;
}

.lead, .purple {
  color: #a12781;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 40px;
  color: white;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption h1 {
  color: white;
}

.carousel-caption img {
  max-width: 100%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #a12781;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-sm-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-sm-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing-header {
  margin-bottom: 30px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}